# Flask y Servidor
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
werkzeug==3.0.3

# LangChain - Versions latest al 15 julio 2025 (de PyPI)
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langchain-mistralai
langchain>=0.1.20
langchain-core>=0.1.52
langchain-community>=0.0.38
langchain-openai>=0.1.6
langchain-mistralai>=0.1.6
langchain-google-genai>=1.0.4
langgraph>=0.0.47
langchainhub>=0.1.15
langchain-tavily>=0.0.3
langchain-text-splitters

# Herramientas de Agentes
tavily-python==0.3.3

# Humanizador y utilidades
requests==2
pillow
pytesseract
tiktoken
faiss-cpu
